.hidden {
  display: none;
}

.taskslist {
  background-color: #dee2e6 !important;
}

.taskslist-items-add {
  content: \2612;
}

.list-group {
  list-style-type: none;    
}

.list-group-item {
  cursor: pointer;
  list-style-type: none;    
}